/* fonts  */

@font-face {
    font-family:"lato-black";
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
    font-family:"lato-bold";
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family:"lato-regular";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family:"lato-light";
    src: url(../fonts/Lato-Light.ttf);
}

*{
padding: 0 ;
margin: 0 ;
box-sizing: border-box;
}

.flex{
    display: flex;

}
.j-c{
    justify-content: center;
}
.j-s{
    justify-content: space-between;
}
.j-e{
    justify-content: end;
}
.items-center{
    align-items: center;
}
.header-top {
    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
}
.text-1{
    padding: 10px 0px;
    text-align: center;
}

.text-1 p{
    font-family: 'Lato-black';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 21px;
margin-bottom: 0px;
}

.first-menu{
    background: #000000;
}
.first-menu-ul{
    padding: 15px 0px;
    margin-bottom: 0px;
}
.first-menu-ul li{
    list-style: none;
}
.first-menu-ul li a{
    font-family:"lato-black";
font-style: normal;
font-weight: 800;
font-size: 17px;
line-height: 21px;
margin-right: 40px;
    text-decoration: none;
 
    color: white;
}
#last-child a{
    margin: 0px;
}
.main-header{
    position: relative;
    padding: 30px 0px;
}
.main-header .first-col{
    width: 30%;
}
.main-header .first-col img{
    position: absolute;
}
.main-header .first-col .search-bar{
width: 350px;background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border: #FFFFFF;
border-radius: 47px;
padding-left: 45px;
}
.main-header .second-col{
    width: 20%;
    display: flex;
    justify-content: center;
}
.main-header .third-col img{
    margin-right: 10px;
} 
.main-header .third-col p{
    font-family: 'lato-regular';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
margin-bottom: 0px;
}
.main-header .forth-col img{
    margin-right: 45px;
}
.main-header .forth-col .last-child{
    margin: 0px;
}
.second-menu-ul {
    margin-bottom: 0px;
}
.second-menu-ul li{
    list-style: none;
}
.second-menu-ul li :hover{
    background-color: #000000;
    color: white;
}
.second-menu-ul li a{
    font-family:"lato-black";
font-style: normal;
font-weight: 800;
font-size: 17px;
line-height: 21px;
    text-decoration: none;
    color: black;
    padding: 12px 20px;
}
.second-menu {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 10px 0px;
}
.first-banner{
    height: 546px;
    background: linear-gradient(90.32deg, #F6D365 0.25%, #FDA085 99.73%);
    position: relative;
    margin-top: 20px;
}
.first-banner .content h1{
    font-family:"lato-black";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    margin: 15px 0px 30px 0px;
}
.first-banner .bg-girl{
    position: absolute;
    right: 0%;
    top: 0%;
}
.first-banner .bg-mackup{
    position: absolute;
    left: 0%;
    top: 0%;
}
.first-banner .content{
    margin-left: 90px;
    position: relative;
    padding: 139px 0px;
}
.red-btn{
    background: linear-gradient(90deg, #FF0844 0%, #FFB199 100%);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 13px 30px;
    border: none;
    font-family: 'Lato-black';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;
color: white;
}
.second-section{
    margin-top: 50px;
}
.second-section .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-section .content h2{
    font-family: 'Lato-black';
    font-style: normal;
    font-size: 50px;
    line-height: 54px;
}
.second-section .content .dvider{
    display: block;
    height: 3px;
    width: 88px;
    background-color: #000000;
    margin-top: 20px;
}
.second-section .product{
    position: relative;
    display: flex;
    align-items: flex-end;
}
.second-section .product h3{
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0px;
    font-family: 'Lato-black';
font-style: normal;
font-size: 40px;
line-height: 44px;
color: #FFFFFF;
text-shadow: 0px 0px 8px #000000;
}
.second-section .mar-top{
    margin-top:30px ;
}
.third-section{
    width: 100%;
    margin-top: 50px;
    height:450px ;
    background-image: url(../images/Group\ 1958.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden; 
    

}
.third-section .best-offer-parent{
   
    text-align: center;
}
.third-section .third-bg{
    justify-content: end;
    display: flex;
}
.forth-section{
    margin-top: 50px;
}
.forth-section .mar-top{
    margin-top: 40px;
}
.forth-section .content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.forth-section .content h2{
    font-family: 'Lato-black';
    font-style: normal;
    font-size: 50px;
    line-height: 54px;
}
.forth-section .content .dvider{
    display: block;
    height: 3px;
    width: 88px;
    background-color: #000000;
    margin-top: 20px;
}
.forth-section .second-content{
    margin-top: 27px;
}
.forth-section .second-content .heart-images img{
    margin-right: 7px;
}
.forth-section .second-content h2{
    font-family: 'Lato-black';
font-style: normal;
font-size: 30px;
line-height: 34px;
margin-top: 15px;
margin-bottom: 10px;
}
.forth-section .second-content .first-para{
    font-family: 'Lato-regular';
font-style: normal;
font-size: 17px;
line-height: 21px;
color: #8A8A8A;
}
.forth-section .second-content .second-para{
    font-family: 'Lato-black';
font-style: normal;
font-size: 17px;
line-height: 21px;
color: black;
}
.third-banner{
    width: 100%;
    background-image: url(../images/red-shadow-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-top: 165px;
    background-attachment: fixed;
}
.third-banner .content{
text-align: center;  
padding: 50px 0px; 

}
.third-banner .content p{
    font-family: 'Lato-black';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.third-banner .first-img-parent{
    position: absolute;
    margin-top: -10em;
}

.fivth-section{
    margin-top: 50px;
}
.fivth-section .mar-top{
    margin-top: 40px;
}
.fivth-section .first-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fivth-section .first-content h2{
    font-family: 'Lato-black';
    font-style: normal;
    font-size: 50px;
    line-height: 54px;

}
.fivth-section .first-content .dvider{
    display: block;
    height: 3px;
    width: 88px;
    background-color: #000000;
    margin-top: 20px;
}
.fivth-section .second-content h3{
    font-family: 'Lato-black';
font-style: normal;
font-size: 30px;
line-height: 34px;
margin: 25px 0px;

}
.fivth-section .second-content p{
    font-family: 'Lato-black';
    font-style: normal;
    font-size: 17px;
    line-height: 21px;
    margin: 25px 0px;

}
.fivth-section .second-content .mr{
    margin-right: 10px;

}
.fivth-section .second-content .mr-btm{
    margin-bottom: 10px;

}
.fivth-section .second-content h5{
    font-family: 'Lato-regular';
font-style: normal;
font-size: 17px;
line-height: 21px;
margin-bottom: 0px;
}
.forth-banner {
    width: 100%;
    height: 314px;
    margin-top: 50px;
}
.forth-banner .bg-color{
    background: linear-gradient(94.58deg, #3494E6 0%, #1CEFFF 100%);
    padding: 50px 0px;
}
.forth-banner .content {
    text-align: center;
}
.forth-banner .content h1{
    font-family: 'Lato-black';
font-style: normal;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 20px;
}
.main-footer {
    background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
    padding: 50px 0px;
    margin-top: 50px;
}
.main-footer .content {
    margin-top: 40px;
}
.main-footer .content h5{
    font-family: 'Lato-black';
font-style: normal;
font-size: 22px;
line-height: 26px;
margin-bottom: 30px;
}
.main-footer .content li {
    font-family: 'Lato-regular';
font-style: normal;
font-size: 18px;
line-height: 22px;
list-style: none;
margin-bottom: 15px;
}
.main-footer .content li a{
    color: #000000;
    text-decoration: none;
}
.main-footer .social-icons{
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-footer .social-icons a {
    margin-right: 30px;
}
.main-footer .email-parent p{
    
font-family: 'Lato-regular';
font-style: normal;
font-size: 18px;
line-height: 22px;
text-decoration: none;
color: #000000;
margin-left: 10px;
margin-bottom: 0px;

}
.btm-footer{
    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%), linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
    width: 100%;
    padding: 15px 0px;
    
}
.btm-footer p{
    font-family: 'Lato-regular';
font-style: normal;
font-size: 18px;
line-height: 22px;
margin-right: 30px;
margin-bottom: 0px;
}
.btm-footer .last-child{
    margin-right: 0px;
}